{% extends "base.html"%}
{% block content %}

    <h1>Question</h1>
    {% if answers %}
        {% for each_question, each_answer in answers.items() %}
            
            <div><p><b>Question Title: {{ each_question}}</b> </p><div>
            {% for each_answer_id, each_answer_desc in each_answer.items() %}
                Answer:{{ each_answer_desc }}
                </p></div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {%if not answers%}
    <h2> No answers posted</h2>
    {% endif %}
{% endblock %}