{% extends "base.html"%}
{% block content %}

    <h1>Search Results</h1>
        {% for each_result in result %}
            
            <div><p><b>Title: {{ each_result.question }}</b><br>Description:{{ each_result.description }}<br>Author:{{each_result['author']}}</p></div>
                {% if each_result.replies != []%}
                {% for each_answer in each_result.replies%}
                    <div><p>answered by:{{each_answer.author}}<br>Answer: {{ each_answer.answer }}</p></div>
                {% endfor %}

                {% else %}
                    <b> No answers posted </b>
                {% endif %}
            
        {% endfor %}
{% endblock %}